body{
    display: flex;
    justify-content: center;
}

.todo{
    display: flex;
    flex-direction: column;
}

.todo__container{
    max-width: 1200px;
    padding: 16px;
}

h1{
    text-align: center;
}

.todo__form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.todo__element{
    padding: 0;
}

.todo__inputs{

    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    .todo__inputs--name{
        flex: 1 1 100%;
    }

    .todo__inputs--quantity,
    .todo__inputs--price{
        flex: 1 1 45%;
    }
}

.todo__add{
    width: 100%;
}

@media(width>=576px){
    .todo__add{
        width: 200px;
    }
}